<div class="large-7 columns bor">
  <h3>Pending Practice Connections</h3>

  <% if @connections.count == 0 %>
    <p>No pending connections at this time</p>
  <% else %>
    <table>
      <tr>
        <th>Pending Requests</th>
        <th></th>
      </tr>
    <% @connections.each do |connection| %>
      <tr>
        <td><%= connection.requestor_name %></td>
        <td style="padding-bottom"><%= render 'accept' %></td>

      </tr>
      <% end %>
    </table>
  <% end %>

  <div class="large-12 columns">
    <h3>Connected Practices</h3>

      <% @accepted_connections.each do |connection| %>
        <div class="bor-bottom">
          <% prac = connection.sender_or_receiver(current_user) %>
          <h5><%= prac.office_name %></h5>
          <p>Contact: <%= prac.contact_name %></p>
          <p>Phone: <%= prac.phone %></p>
          <p>Email: <%= prac.email %></p>

        </div>

      <% end %>
    </ul>

  </div>
</div>
<div class="large-3 columns side-bor fix-nav">
  <h5> Connect Your Practice</h5>
  <%= render :partial =>'connections/form' %>

</div>
