<div class="large-2 columns side-bor">
  <ul class="side-nav fix-nav">
    <li class="<%=(request.path == practice_path(current_practice)) ? "active" : "" %>">
      <%= link_to 'Practice', practice_path(current_practice) %>
    </li>
    <li class="<%=(request.path == practice_appointments_path(current_practice)) ? "active" : "" %>">
      <%= link_to 'Appointments', practice_appointments_path(current_practice) %>
    </li>
    <li class="<%=(request.path == practice_patients_path(current_practice)) ? "active" : "" %>">
      <%= link_to 'Patients', practice_patients_path(current_practice) %>
    </li>
    <li class="<%=(request.path == practice_connections_path(current_practice))? "active" : "" %>">
      <%= link_to 'Connections', practice_connections_path(current_practice) %>
    </li>
    <li class="<%=(request.path == practice_doctors_path(current_practice))? "active": "" %>">
      <%= link_to 'Doctors', practice_doctors_path(current_practice),:controller => :users, :action => :index %>
    </li>
    <li class="<%=(request.path == doctor_referrals_path(current_practice))? "active": "" %>">
      <%= link_to 'Referrals',doctor_referrals_path(current_practice) %>
    </li>
  </ul>

</div>
