<%= form_for [@practice, @patient] do |f| %>
  <h4>Create Patient </h4>
  <%= f.label :first_name %>
  <%= f.text_field :first_name%>

  <%= f.label :last_name %>
  <%= f.text_field :last_name%>

  <%= f.label :ssn %>
  <%= f.text_field :ssn %>

  <div class="row">
    <div class="small-7  small-centered columns">
      <%= f.submit :class =>'tiny button centered' %>
    </div>
  </div>


  <% end %>
