  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

  <div class="large-10 columns bor">
    <h3><%= @practice.office_name %></h3>
    <div class="large-12 columns bor">
      <h3>Last Month</h3>
      <div class="large-6 columns bor">
        <p>Most Sent Referrals: <%= @stats[:most_sent_referrals] %> </p>
        <p>Most Received Referrals: </p>
        <p>Most Inbound Referrals: </p>
      </div>
      <div class="large-6 columns bor">
        <p>Referral Appointments: </p>
        <p>Received Referral to Appointment:  %</p>
        <p>Sent Referral to Apppointment:  %</p>
      </div>

    </div>

    <h4>Referrals</h4>
    <div id="chart">
      <h5>Received</h5>

      <%= column_chart monthly_referrals  %>

       <%#= column_chart @practice.received_referrals.group(:user_id).group_by_month("referrals.created_at").count %>
      <h5>Sent</h5>
      <%= column_chart @sent %>


    </div>

  </div>

<%= content_for :extra_footer do %>

<% end %>




<!--      //# = column_chart @practice.received_referrals.group_by_month("referrals.created_at").count.map{|x,y|
     //#    {x.sender_practice => y}} %> -->
