  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

  <div class="large-10 columns">
    <h2 class="top-head"><%= @practice.office_name %></h2>
    <div class="large-12 columns bor-bottom">
      <h3 class="">This Month</h3>
      <div class="large-6 columns">
        <p>Most Sent Referrals: <span><%= @stats[:most_sent_referrals] %></span> </p>
        <p>Most Received Referrals: <span><%= @stats[:most_received_referrals]%></span></p>
        <p>Most Inbound Referrals: <span><%= @stats[:most_inbound_referrals] %></span></p>
      </div>
      <div class="large-6 columns">
        <p>Referral Appointments:<span> <%= @stats[:referral_appointments] %> </span></p>
        <p>Received Referral to Appointment: <span><%= @stats[:referral_to_appointment_percent] %>%</span></p>
        <p>Sent Referral to Apppointment:<span> <%= @stats[:sent_referral_to_appointment_percent]%>%</span></p>
      </div>

    </div>


    <div id="chart">
      <h4 class="extra-pad">Referrals</h4>
      <h5>Received - <%= @practice.received_referrals.count %></h5>

      <%= column_chart @received %>

       <%#= column_chart @practice.received_referrals.group(:user_id).group_by_month("referrals.created_at").count %>
      <h5>Sent - <%= @practice.referrals.count %></h5>
      <%= column_chart @sent %>


    </div>

  </div>

<%= content_for :extra_footer do %>

<% end %>




<!--      //# = column_chart @practice.received_referrals.group_by_month("referrals.created_at").count.map{|x,y|
     //#    {x.sender_practice => y}} %> -->
