
<div class="row">
  <div class="large-2 columns bor">
    <ul class="side-nav">
      <li class="active"><%= link_to 'Practice', practice_path %></li>
      <li><%= link_to 'Appointments', practice_appointments_path(@practice) %></li>
      <li><%= link_to 'Connections', practice_connections_path(@practice) %></li>
      <li><%= link_to 'Doctors', practice_doctors_path(@practice), :controller => :users, :action => :index %></li>
      <li><%= link_to 'Referrals',doctor_referrals_path(@practice) %></li>
    </ul>

  </div>
  <div class="large-10 columns bor">
    <h1><%= @practice.office_name %></h1>

    <% a = PracticeMembership.count %>
    <p><%= a %></p>
  </div>
</div>
