<div class="large-12 columns">
    <h3>Upcoming</h3>
    <% if @appointments.count == 0 %>
      <p>No upcoming appointments at this time</p>
    <% elsif current_user.role =='practice_admin' %>
      <table class="full_width centered">
        <tr>
          <th>Date</th>
          <th>Doctor</th>
          <th>Patient</th>
        </tr>
      <% @appointments.upcoming.each do |appointment| %>
        <tr>
          <td><%= appointment.date.strftime("%b %d,%y") %></td>
          <td><%= appointment.doctor_name %></td>
          <td><%= appointment.patient_name %></td>
        </tr>
        <% end %>
      </table>
    <% elsif current_user.role =='doctor' %>
      <% if current_user.appointments.count == 0 %>
        <p>No upcoming appointments at this time</p>
      <% elsif current_user.appointments.count > 0 %>
      <table class="full_width centered">
        <tr>
          <th>Date</th>
          <th>Patient</th>
        </tr>
        <% current_user.appointments.upcoming.each do |appointment| %>
          <tr>
            <td><%= appointment.date.strftime("%b %d,%y") %></td>
            <td><%= appointment.patient_name %></td>
          </tr>
        <% end %>
      </table>
      <% end %>
    <% end %>
  </div><br />
  <div class="large-12 columns">
    <h3>Past</h3>
    <% if @appointments.past.count == 0 %>
      <p>No old appointment records</p>
    <% elsif current_user.role =='practice_admin' %>
      <table class="full_width centered">
        <tr>
          <th>Date</th>
          <th>Doctor</th>
          <th>Patient</th>
        </tr>
      <% @appointments.past.each do |appointment| %>
        <tr>
          <td><%= appointment.date.strftime("%b %d,%y") %></td>
          <td><%= appointment.doctor_name %></td>
          <td><%= appointment.patient_name %></td>
        </tr>
        <% end %>
      </table>
    <% elsif current_user.role =='doctor' %>
      <% if current_user.appointments.count == 0 %>
        <p>No upcoming appointments at this time</p>
      <% else %>
      <table class="full_width centered">
        <tr>
          <th>Date</th>
          <th>Patient</th>
        </tr>
        <% current_user.appointments.past.each do |appointment| %>
          <tr>
            <td><%= appointment.date %></td>
            <td><%= appointment.patient_name %></td>
          </tr>
        <% end %>
      </table>
      <% end %>
    <% end %>
  </div>


</div>
