<div class="large-7 columns bor">  
  <h1>Upcoming Appointments</h1>

  <% if @appointments.count == 0 %>
    <p>No upcoming appointments at this time</p>
  <% elsif current_user.role =='practice_admin' %>
    <table>
      <tr>
        <th>Date</th>
        <th>Doctor</th>
        <th>Patient</th>
      </tr>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.date %></td>
        <td><%= appointment.doctor_name %></td>
        <td><%= appointment.patient_name %></td>
      </tr>
      <% end %>
    </table>
    <% elsif current_user.role =='doctor' %>
      <% if current_user.appointments.count == 0 %>
        <p>No upcoming appointments at this time</p>
      <% else %>
      <table>
        <tr>
          <th>Date</th>
          <th>Patient</th>
        </tr>
        <% current_user.appointments.each do |appointment| %>
          <tr>
            <td><%= appointment.date %></td>
            <td><%= appointment.patient_name %></td>
          </tr>
        <% end %>
      </table> 
      <% end %>
    <% end %>
  <%= link_to 'Practice', practice_path(@practice) %>
</div>
<% if current_user.role =="practice_admin" %>
  <div class="large-3 columns bor">
    <h3>Schedule an Appointment</h3>
    <%= render :partial => 'appointments/form' %>
  </div>
<% end %>


