<div class="large-7 columns bor">  
  <h1>Appointments</h1>
  <div class="large-12 columns">
    <% if @appointments.count == 0 %>
      <p>No upcoming appointments at this time</p>
    <% elsif current_user.role =='practice_admin' %>
      <h3>Upcoming</h3>
      <table>
        <tr>
          <th>Date</th>
          <th>Doctor</th>
          <th>Patient</th>
        </tr>
      <% @appointments.upcoming.each do |appointment| %>
        <tr>
          <td><%= appointment.date.strftime("%b %d,%y") %></td>
          <td><%= appointment.doctor_name %></td>
          <td><%= appointment.patient_name %></td>
        </tr>
        <% end %>
      </table>
    <% elsif current_user.role =='doctor' %>
      <% if current_user.appointments.count == 0 %>
        <p>No upcoming appointments at this time</p>
      <% else %>
      <table>
        <tr>
          <th>Date</th>
          <th>Patient</th>
        </tr>
        <% current_user.appointments.upcoming.each do |appointment| %>
          <tr>
            <td><%= appointment.date %></td>
            <td><%= appointment.patient_name %></td>
          </tr>
        <% end %>
      </table> 
      <% end %>
    <% end %>
  </div><br />
  <div class="large-12 columns bor">
    <% if @appointments.count == 0 %>
      <p>No upcoming appointments at this time</p>
    <% elsif current_user.role =='practice_admin' %>
      <h3>Past</h3>
      <table>
        <tr>
          <th>Date</th>
          <th>Doctor</th>
          <th>Patient</th>
        </tr>
      <% @appointments.past.each do |appointment| %>
        <tr>
          <td><%= appointment.date.strftime("%b %d,%y") %></td>
          <td><%= appointment.doctor_name %></td>
          <td><%= appointment.patient_name %></td>
        </tr>
        <% end %>
      </table>
    <% elsif current_user.role =='doctor' %>
      <% if current_user.appointments.count == 0 %>
        <p>No upcoming appointments at this time</p>
      <% else %>
      <table>
        <tr>
          <th>Date</th>
          <th>Patient</th>
        </tr>
        <% current_user.appointments.past.each do |appointment| %>
          <tr>
            <td><%= appointment.date %></td>
            <td><%= appointment.patient_name %></td>
          </tr>
        <% end %>
      </table> 
      <% end %>
    <% end %>
  </div>

  <%= link_to 'Practice', practice_path(@practice) %>

</div>
  
<% if current_user.role =="practice_admin" %>
  <div class="large-3 columns bor">
    <h4>Schedule an Appointment</h4>
    <%= render :partial => 'appointments/form' %>
  </div>
<% end %>


