<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Docferral" %></title>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "application" %>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  </head>
  <div class="fixed">
      <nav class="top-bar">
        <ul class="title-area">

          <li class="name">
            <h1><a href="/">Docferral</a></h1>
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section" style="left: 0%;">
          <!-- Right Nav Section -->
          <ul class="right navbar-bg">
            <li class="divider"></li>

            <% if user_signed_in? %>
            <li class="">
              <%= link_to 'Practice Home', practice_path(current_practice) %>
            </li>
            <li class="divider"></li>
            <li class="">
              <a>
                Signed in as <%= current_user.email %>
              </a>
            </li>
            <li class="divider"></li>
            <li>
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
            </li>
            <% else %>
            <li class="">
              <%= link_to 'Register', new_user_registration_path %>
            </li>
            <li class="divider"></li>
            <li class="">
             <%= link_to 'Sign in', new_user_session_path %>
            </li>
            <% end %>

            <li class="divider"></li>
          </ul>
        </section>
      </nav>
    </div>

  <body>
    <div class="main-banner">


        <div class="row">
          <div class="small-6 large-centered columns main-tag">
           <h1 class="main-header">Docferral</h1>
           <p>Inbound and Outbund Referral Management</p>
          </div>
        </div>



    </div>

    <div class="home-features">
      <div class="row">
        <div class="large-12 columns">
          <div class="large-2 columns">
            <i class="general foundicon-graph"></i>
          </div>
          <div class="large-10 columns info">
            <h4>Track where your appointments are coming from month to month</h4>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <div class="large-10 columns info">
            <h4>Connect with practices that send you referrals</h4>
          </div>
          <div class="large-2 columns">
            <i class="general foundicon-address-book"></i>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <div class="large-2 columns">
            <i class="general foundicon-calendar"></i>
          </div>
          <div class="large-10 columns info">
            <h4>Schedule and track upcoming and past appointments</h4>
          </div>

        </div>
      </div>

    </div>

    <%= javascript_include_tag "application" %>
    <%= yield :extra_footer %>


  </body>
</html>
